.home-hero {
    height: 1061px;
    padding-top: 216px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: visible;

    background: linear-gradient(
        135deg,
        #1C1F2A 0%,
        #1D2C3F 100%
    );
}

.home-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../images/hero-background.png');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain; 
    opacity: 0.1; 
    z-index: 1;
}


.home-hero-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    color: var(--global-color-1);
}

.home-diamond {
    position: absolute;
    top: auto;
    bottom: -298px; 
    left: 50%;
    transform: translateX(-50%);
    width: 472px;
    height: auto;
    z-index: 3;
}


.home-hero-heading {
    font-family: var(--global-font-family-3);
    font-weight: 100;
    font-size: 81px;
    line-height: 80px;
    font-weight: 100;
    color: var(--global-color-1);
    text-align: center;
    max-width: 700px;
}

.home-hero-text {
    font-family: var(--global-font-family-4);
    color: var(--global-color-1);
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    max-width: 700px;
    letter-spacing: 0.3px;
    text-align: center;
}

.home-hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 21px;
    border-radius: 12px;
    color: #EEE9DF;
    background-color: #00000000;
    border: 0.6px solid #DDD1C5;
    font-family: var(--global-font-family-7);
    line-height: 23px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5%;
    text-decoration: none;
    white-space: nowrap;

}

.home-hero-btn,
.home-hero-btn:visited,
.home-hero-btn:hover,
.home-hero-btn:focus,
.home-hero-btn:active {
    color: #EEE9DF;
    text-decoration: none;
}

.home-hero-btn:hover {
    background-color: transparent;
}


.home-about {
    display: flex;
    justify-content: center;
    background-color: var(--global-color-1);
    padding-bottom: 133px;
    position: relative;
    overflow: visible;
    z-index: 10;
}

.home-about-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    position: relative;
}

.home-about-container::before {
    content: '';
    position: absolute;
    top: -200px; 
    left: 50%;
    transform: translateX(-50%);
    width: 472px;
    height: auto;
    background-image: url('<?php echo get_template_directory_uri(); ?>/assets/images/beli.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1; 
}

.home-about-container > * {
    position: relative;
    z-index: 2; 
}

.home-about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.home-about-logo {
    height: 45px;
    width: 45px;
}

.home-about-heading {
    font-family: var(--global-font-family-3);
    font-size: 70px;
    font-weight: 100;
    color: var(--global-color-3);
    line-height: 98px;
    letter-spacing: -1.2px;
}

.home-about-bold-text {
    font-family: var(--global-font-family-3);
    font-size: 48px;
    font-weight: 100;
    color: var(--global-color-3);
    line-height: 63px;
    letter-spacing: -0.9px;
    text-align: center;
}

.home-about-text {
    color: #1B2632;
    text-align: center;
    font-family: var(--global-font-family-4);
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: -0.5px;
}
.home-news {
    padding-top: 123px;
    padding-bottom: 191px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.home-news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52.5px;
}

.home-news-top p {
    text-align: center;
    padding-bottom: 5px;
    font-size: 14px;
    letter-spacing: 2.5px;
    color: #1D2C3F;
    line-height: 18px;
    font-family: var(--global-font-family-6);
}

.home-news-cards {
    display: flex;
    gap: 32px;
}

.line-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.news-text {
    font-family: var(--global-font-family-3);
    font-size: 70px;
    color: #1D2C3F;
    line-height: 98px;
    letter-spacing: -1.1px;
}

.line {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #EEE9DF;
}

.left-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    background-color: #EEE9DF;
}

.right-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    background-color: #EEE9DF;
}

.home-responsibility {
    display: flex;
    justify-content: center;
    background-color: var(--global-color-1);
}

.home-responsibility-container {
    display: flex;
    gap: 90px;
}

.home-responsibility-left img {
    margin-top: -100px;
    flex-shrink: 0;
}

.home-responsibility-left {
    flex-shrink: 0;
}

.home-responsibility-right {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 31px;
}

.home-responsibility-title {
    color: #1D2C3F;
    font-family: var(--global-font-family-3);
    font-size: 70px;
    letter-spacing: -1.5px;
    line-height: 70px;
}

.home-responsibility-text {
    font-family: var(--global-font-family-4);
    color: #1B2632;
    line-height: 22px;
    letter-spacing: -0.3px;
}

.home-responsibility-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 6px 16px;
    background-color: #1D2C3F;
    color: #EEE9DF;
    font-size: 12px;
    text-decoration: none;
    width: fit-content;
    white-space: nowrap;
    border-radius: 40px;
    cursor: pointer;
    font-family: var(--global-font-family-2);
    letter-spacing: 1.2px;
}

.home-responsibility-btn:not(:visited):hover {
    background-color: #16233B;
}

.home-responsibility-btn:visited {
    color: var(--global-color-1);
}

.home-benefits {
    padding-top: 105px;
    padding-bottom: 130.5px;
    display: flex;
    justify-content: center;
    background-color: var(--global-color-1);
    line-height: 23px;
    letter-spacing: 1.2px;
}

.home-benefits-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.home-benefits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
}

.home-benefits-number {
    color:#1F2844B3;
    font-family: var(--global-font-family-3);
    font-size: 96px;
    line-height: 112px;
    letter-spacing: -5px;
}

.home-benefits-text {
    text-align: center;
    color: #1F2844B3;
    font-family: var(--global-font-family-4);
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.1px;
}

@media (max-width: 768px) {
    .home-about-romb {
        width: 60px;
        top: -30px;
    }
    .home-about-heading {
        font-size: 48px;
        line-height: 65px;
    }
    .home-about-bold-text {
        font-size: 32px;
        line-height: 42px;
    }
    .home-about-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    .home-about-romb {
        width: 40px;
        top: -20px;
    }
    .home-about-heading {
        font-size: 36px;
        line-height: 50px;
    }
    .home-about-bold-text {
        font-size: 24px;
        line-height: 32px;
    }
    .home-about-text {
        font-size: 16px;
        line-height: 22px;
    }
}
