.single-post-main {
    padding-top: 164px;
    padding-bottom: 110px;
    background: var(--global-color-1);
}

.single-post-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.single-post-top-content {
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.single-post-top-content-newest {
    font-family: var(--global-font-family-6);
    color: var(--global-color-3);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-weight: 600;
}

.single-post-top-content-title {
    font-family: var(--global-font-family-5);
    font-size: 45px;
    color: var(--global-color-3);
    line-height: 49px;
    letter-spacing: -0.7px;
    font-weight: 300;
}

.single-post-top-content-text {
    font-family: var(--global-font-family-5);
    font-weight: 300;
    color: var(--global-color-3);
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.24px;
}

.single-post-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.single-post-image-caption {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    color: var(--global-color-3);
    font-family: var(--global-font-family-2);
    text-align: left;
    line-height: 120%;
    letter-spacing: 2.9px;
}

.single-post-bottom-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 560px;
    gap: 29px;
}

.single-post-bottom-meta {
    font-family: var(--global-font-family-4);
    color: var(--global-color-3);
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2.3px;
    text-transform: uppercase;
}

.single-post-bottom-content {
    color: var(--global-color-3);
    font-size: 21px;
    letter-spacing: 0.8px;
    line-height: 120%;
    font-family: var(--global-font-family-3);
    font-weight: 100;
}